@import "constants";

@mixin gradientBlurSpread {
    width: 500px;
    height: 500px;
    transform: rotate(-90.222deg);
    flex-shrink: 0;
    background: linear-gradient(180deg, #00e0ca7b 23.23%, #5913ef79 100%);
    border-radius: 50%;
    overflow: hidden;
    filter: blur(210px) brightness(0.74);
    z-index: -2;
}

@mixin purpleText {
    color: #C2A5FF;
}

@mixin greenText {
    color: $neonGreen;
}

@mixin sectionHeading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.2rem;
}