@import "constants";


.navbarContainer {
margin-top: 65px;

  .navbarItemsContainer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      font-size: 2.2rem;
      font-weight: 600;
    }

    .getintouchBtn {
      .getintouchLink {
        // rotate: 90deg;
        padding: 12px 26px 12px 26px;
        border-radius: 30px;
        border: 2px solid transparent;
        border-width: 2px;
        background: linear-gradient($blackColor, $blackColor) padding-box, 
                    linear-gradient(to right, $neonGreen, $neonPurple) border-box;
        text-decoration: none;
        font-size: 1.8rem;
        color: #fff;
        font-weight: 500;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        // TODO: Fix this to make button hover smooth transition
        &:hover {
            background: linear-gradient(to right, $neonGreen, $neonPurple) padding-box,
                        linear-gradient(to right, $neonGreen, $neonPurple) border-box;
        }
      }
    }
  }
}
